<!DOCTYPE html>
<html>
  <head>
    <title>Barrier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <%= stylesheet_link_tag "home" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img id="logo" src="assets/barrier-logo.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="#">How It Works</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="login.html">Log In</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="row" id="main">
      <div class="col-md-6 col-sm-6">
        <h1>Lifelock for Your Business</h1>
        <p>Cupcake ipsum dolor sit amet biscuit gummi bears lollipop. Carrot cake donut jelly. Candy canes powder marshmallow danish jelly.</p>
        <p>Tart gingerbread dessert candy canes topping pastry tootsie roll ice cream oat cake. Bonbon cupcake tootsie roll jelly I love unerdwear.com. I love marshmallow unerdwear.com. Biscuit icing brownie.</p>
        <button>Sign Up</button>
        <button>Learn More</button>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="assets/laptop-phone.png">
      </div>
    </div>

    <div class="row" id="how-works">
      <h1>Getting Started</h1>
      <div class="col-md-4">
        <div>
          <h2>1</h2>
          <h3>Connect Your Accounts</h3>
          <p>Cupcake ipsum dolor sit amet biscuit gummi bears lollipop. Carrot cake donut jelly. Candy canes powder marshmallow danish jelly.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2>2</h2>
          <h3>Barrier Monitors Transactions For Fraud</h3>
          <p>Gummies macaroon tootsie roll. Sugar plum danish halvah jelly-o sugar plum lollipop macaroon. Topping jujubes lollipop cake.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2>3</h2>
          <h3>You Receive Alerts</h3>
          <p>Cheesecake jelly chupa chups unerdwear.com candy biscuit soufflé gingerbread. Chupa chups caramels jujubes donut cookie sweet roll danish.</p>
        </div>
      </div>
    </div>

    <div class="row" id="main">
        <h1>Benefits / Why Do It</h1>
      <div class="col-md-6 col-sm-6">
        <p>Cupcake ipsum dolor sit amet biscuit gummi bears lollipop. Carrot cake donut jelly. Candy canes powder marshmallow danish jelly.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p>Tart gingerbread dessert candy canes topping pastry tootsie roll ice cream oat cake. Bonbon cupcake tootsie roll jelly I love unerdwear.com. I love marshmallow unerdwear.com. Biscuit icing brownie.</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>