@import "bootstrap";

body{
  background-color: #1C75BC;
  color: #FFF;
  font-size: 12px;
}
img{
  width: 20%;
}
label{
  text-transform: uppercase;
  font-weight: lighter;
  width: 100px;
}
input{
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 200px;
  padding-left: 10px;
  /*Note: CHANGE THE AUTOFOCUS*/
}
input:focus{
  outline: 0;
    /*box-shadow: 0 0 10px #99E2FF;*/
    border: 1px solid #FFF;
    background-color: white;
}
input[type="submit"]:hover{
  background-color: #FFF;
}
div{
  text-align: center;
  padding-top: 10%;
}